{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
    {% for area in areas %}
        <h3>{{ area.city }}, {{ area.state }}</h3>
        <ul class="items" style="max-width: 500px">
            {% for venue in area.venues %}
                <li>

                    <a style="display: inline-block !important;" href="/venues/{{ venue.id }}">
                        <i class="fas fa-music"></i>
                        <div class="item" style="display: inline-block;">
                            <h5>{{ venue.name }}</h5>
                        </div>
                    </a>
                     <button data-id="{{ venue.id }}" class="delete-button venue-delete" style="display: inline-block !important;">
                       &#9587;
                     </button>
                    <a class="edit-button" style="display: inline-block !important;"
                       href="{{ url_for('edit_venue', venue_id=venue.id) }}"><i class="fa fa-pen"></i></a>


                </li>

            {% endfor %}
        </ul>

    {% endfor %}
{% endblock %}